<% if user_signed_in? %>
  <div class="flex">
  <div class="flex flex-col h-screen bg-gray-700 shadow-2xl w-64">
    <div class="px-4 py-3 border-b border-gray-300">
      <%= button_to 'New Chat', chat_interfaces_path , :method => :post , class: 'px-2 py-1 bg-gray-400 hover:bg-gray-500 text-white rounded w-full' %>
    </div>
    <div class="flex-1 overflow-y-auto no-scrollbar">
      <% @chat_interfaces.each do |chat_interface| %>
          <%= render partial: "chat_interfaces/chat_interface", locals: { chat_interface: chat_interface } %>
      <% end %>
    </div>
    <div class="px-4 py-5 border-t border-gray-300 flex justify-center items-center shadow-lg">
    <%= link_to 'Sign out', destroy_user_session_path, class: 'px-12 py-3 bg-gray-800 hover:bg-gray-900 text-white rounded', data: { turbo_method: :delete } %>
    </div>
  </div>

  <div class="flex-1 py-4 px-12 h-screen">
    <turbo-frame id="chat-interface-show-frame">
      <%if @chat_interface%>
        <%= render partial: "chat_interfaces/show", locals: { chat_interface: @chat_interface } %>
      <%end%>
    </turbo-frame>
  </div>
</div>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>