<% if user_signed_in? %>
  <div class="flex">
  <div class="flex flex-col h-screen bg-gray-700 shadow-2xl w-64">
    <div class="px-4 py-3 border-b border-gray-300">
      <%= button_to 'New Chat', chat_interfaces_path , :method => :post , class: 'px-2 py-1 bg-gray-400 hover:bg-gray-500 text-white rounded w-full' %>
    </div>
    <div class="flex-1 overflow-y-auto no-scrollbar">
      <% @chat_interfaces.each do |chat_interface| %>
        <%= link_to chat_interface.id, chat_interface_path(chat_interface), class: "block px-4 py-2 text-center hover:bg-gray-900 text-white shadow-inner #{chat_interface.eql?(@chat_interface) ? "bg-red-500 text-white hover:bg-red-100" : ""} ", data: { turbo_frame: "chat-room-show-frame", turbo_frame_target: "_self" } %>
      <% end %>
    </div>
    <div class="px-4 py-5 border-t border-gray-300 flex justify-center items-center shadow-lg">
    <%= link_to 'Sign out', destroy_user_session_path, class: 'px-12 py-3 bg-gray-800 hover:bg-gray-900 text-white rounded', data: { turbo_method: :delete } %>
    </div>
  </div>

  <div class="flex-1 p-4 h-screen">
    <turbo-frame id="chat-room-show-frame">
      <%if @chat_interface%>
        <%= render partial: "chat_interfaces/show", locals: { chat_interface: @chat_interface } %>
      <%end%>
    </turbo-frame>
  </div>
</div>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>